<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "blackportal.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, Welcome to Black portal!</h1>
		<p> Our gateway to our elaborate future,</p>
		<p>This week we built a blog in Rails 5. You're actually on the beta application right now. Cool stuff, right! This place is our haven to discuss new ideas, existing ones on how to create a better future where our own seeds we have planted can sprout and pollinate for others.</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="https://twitter.com/GiddDaKidd">@GiddDaKidd</a> or on the web at <a href="http://giddywebs.com">giddywebs.com</a>, and get my posts and exclusive content in your inbox by signing up for my newsletter (more to come site is till on its beta version!) <a href="http://eepurl.com/02olT">here</a>.</p>
	</div>
</div>